/**/
/***************************************************
*******************reset***************************/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/******************************************************
*******************header*****************************/
html {
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  height: 100%;
}
.header-desktop {
  background-color: #030303;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.header-logo {
  background-image: url(assets/svg/Frame.svg);
  background-size: auto;
  background-repeat: no-repeat;
}
.header-logo:active {
  filter: invert(43%) sepia(5%) saturate(2126%) hue-rotate(357deg)
    brightness(97%) contrast(88%);
}
.header-logo:hover {
  filter: invert(53%) sepia(8%) saturate(1313%) hue-rotate(356deg)
    brightness(100%) contrast(92%);
    transition: 0.5s;
    cursor: pointer;
}
.logo-link{
  text-decoration: none;
}
.logo-title {
  color: #ffffff;
  padding: 0 0 0 74px;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  font-style: normal;
  font-family: Forum;
}
.header-nav {
  max-width: 775px;
}
.header-menu {
  display: flex;
  list-style: none;
}
.header-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  padding: 0 55px 0 0;
}
.header-link:hover {
  color: #9d8665;
  transition: 0.5s;
}
.header-link:active {
  color: #7e6c51;
}

/***************************************************
*******************main*****************************/
.main {
 
}
.container {
  margin: 0 auto;
  width: 1440px;
}
.section-title {
  font-family: Forum;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.dark-section {
  background-color: #030303;
  color: #ffffff;
}
.section-title-white {
  color: #9d8665;
}
.section-title-dark {
  color: #ffffff;
}
#title-welcome {
  padding: 150px 0 0 0;
}

/***************************************************
********************swiper************************/
.swiper-welcome {
  width: 100%;
  height: 100%;
}
.fa-angle-double-right,
.fa-angle-double-left {
  color: #ffffff;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 30px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

/****************************************************
*******************welcom***************************/
.content-welcome {
  background-repeat: no-repeat;
  background-position: calc(100%) calc(100% - 95px);
  height: 842px;
}
.content-welcome1{
  background-image: url(assets/img/1.jpg);
}
.content-welcome2{
  background-image: url(assets/img/2.jpg);
}
.content-welcome3{
  background-image: url(assets/img/3.jpg);
}
.content-welcome4{
  background-image: url(assets/img/4.jpg);
}
.content-welcome5{
  background-image: url(assets/img/5.jpg);
}
.paragraph-welcome {
  font-size: 28px;
  line-height: 33px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 25px 0 0 0;
}
.button-welcome {
  padding: 75px 0 0 0;
}
.button {
  padding: 28px 64px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #710707;
  border: 0;
  color: #ffffff;
}
.button:hover{
  background-color: #744747;
  cursor: pointer;
  transition: 0.5s;
}
.button:active{
  background-color: #7c3535;
}
.button-link {
  display: inline-block;
  height: 100%;
}
/**********************************************
********************visiting********************/
.content-visiting {
  padding: 0 0 75px 0;
}
.underline-title {
  position: relative;
  padding: 75px 0 25px 0;
}
.underline-title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.content-visiting-list {
  padding: 75px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 75px 60px;
}
.content-visiting-link {
  display: block;
  text-decoration: none;
  color: #000000;
}
.content-visiting-title {
  position: relative;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  font-family: Forum;
  font-style: Regular;
  font-weight: 400;
  padding: 20px 0 10px 0;
}
.content-visiting-title::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 140px;
  height: 2px;
  background-color: #710707;
  transition: 0.5s;
}
.content-visiting-text-top {
  font-size: 22px;
  line-height: 26px;
  font-family: Roboto;
  font-style: thin;
  font-weight: 200;
  padding: 10px 0;
}
.content-visiting-text-bottom {
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto;
  font-style: thin;
  font-weight: 200;
}
/*****************************************************
*********************explore*************************/
.container-explore {
  display: flex;
  gap: 0 60px;
  padding: 75px 0;
}
.title-explore {
  position: relative;
  padding: 0px 0 25px 0;
}
.title-explore::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.content-explore-text {
  padding: 25px 0 0 0;
  font-size: 22px;
  line-height: 38.5px;
  font-family: Roboto;
  font-style: Light;
  font-weight: 300;
  max-width: 640px;
}
/****************************************************
********************video***************************/
.container-video {
  padding: 75px 0 0px 0;
}
.video-title-wrapper {
  display: flex;
  justify-content: space-between;
}
.video-text {
  font-size: 22px;
  line-height: 38.5px;
  font-family: Roboto;
  font-style: Light;
  font-weight: 300;
  max-width: 720px;
}
.content-video {
  padding: 75px 0 40px 0;
}
.content-video-master {
  position: relative;
}
.video-master {
  display: block;
}
.play {
  position: absolute;
  top: 215px;
  left: 610px;
}
.play:hover{
  filter: invert(43%) sepia(5%) saturate(2126%) hue-rotate(357deg)
    brightness(97%) contrast(88%);
cursor: pointer;
transition: 0.5s;

}
.control-panel {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 85px;
  margin-top: -1px;
}
.fa-play {
  color: #b3b3b3;
  display: block;
}
.progress-bar {
  display: block;
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 55%,
    #c4c4c4 55%,
    #c4c4c4 100%
  );
  height: 8px;
  width: 929px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress-bar::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}
.fa-volume-up {
  display: block;
  color: #b3b3b3;
}
.progress-volume {
  display: block;
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #c4c4c4 40%,
    #c4c4c4 100%
  );
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.progress-volume::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}
/*************swiper-video***************************/
.swiper-video{
  width: 100%;
  height: 385px;
  
}
.swiper-video-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swiper-video-slide{
  height: 254px;
}
.swiper-video-slide iframe {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-right,
.video-left {
  color: #ffffff;
}
.swiper-video-pagination .swiper-pagination-bullet{
  background-color: #333333;
}

/******************************************************
*********************gallery**************************/
.container-gallery {
  padding: 75px 0 75px 0;
}
.picture-container{
  overflow: hidden;
  height: 1960px;
  box-shadow:inset 0 0 20px 10px rgba(0, 0, 0, 0.6);
}
.gallery-list {
  display: flex;
  flex-direction: column;
  gap: 24px 36px;
  flex-wrap: wrap;
  height: 3000px;
  justify-content: space-evenly;
  padding: 75px 0 0 0;
}
.gallery-gradient {
  position: absolute;
  width: 1440px;
  height: 360px;
  margin-top: 1650px;
  background: linear-gradient(
180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
/******************************************************
******************tickets*****************************/
.container-tickets {
  padding: 75px 0;
  position: relative;
}

.title-tickets {
  position: relative;
  padding: 0 0 25px 0;
}
.title-tickets::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.content-tickets {
  display: flex;
  padding: 75px 0 0 0;
}

.content-tickets-img {
  display: block;
}
/***************radio***************/
.content-tickets {
  display: flex;
  justify-content: space-between;
}
.tickets-input-title {
  font-size: 28px;
  line-height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}
.tickets-radio-title {
  padding: 0 0 50px 0;
}

.container-radio {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 0 20px 40px;
  line-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.container-radio .radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.container-radio:hover .radio ~ .checkmark {
  background-color: #ccc;
}

.container-radio .radio:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio .radio:checked ~ .checkmark:after {
  display: block;
}
.container-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
}
/****************number*****************/
.tickets-number-title {
  padding: 0 0 15px 0;
  text-align: right;
}
.number {
  display: block;
  all: unset;
  width: 3em;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
.span-input {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  padding: 10px 0 15px 0;
}
.input-number-top,
.input-number-bottom {
  border: 2px solid #000000;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
}
.number{
  margin: 0 0 0 20px;
}

.input-bottom {
  background-color: #ffffff;
  border: 0;
  padding: 0 12px 0 14px;
  font-size: 32px;
  line-height: 37.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}
.span-total {
  display: block;
  padding: 60px 0 50px 0;
  text-align: right;
}
.button-buy {
  color: #ffffff;
  display: block;
  background-color: #000000;
  width: 175px;
  height: 50px;
}
.button-buy:hover{
  background-color:#5a5a5a;
  cursor: pointer;
  transition: 0.5s;
}
.img-conteiner img {
  display: block;
  margin: 0 auto;
}
/******************************************************
**************************form************************/
.form-wrap{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.form{
  width: 1440px;
  height: 845px;
  position: absolute;
  top:100px;
  left: 230px;
  background-color: #ffffff;
  
}

.form-buy{
  position: relative;
}
.form-close{
  display: block;
  text-align: right;
  position: absolute;
  top:25px;
  right: 25px;
  
}
.form-close img:hover{
  filter: invert(53%) sepia(8%) saturate(1313%) hue-rotate(356deg)
  brightness(100%) contrast(92%);
  transition: 0.5s;
  cursor: pointer;
}
.form-buy-wrap{
  padding: 91px 235px;
  color: #030303;
  font-family: Roboto;
  font-style: Regular;
  font-weight: 400;
  display: flex;
}
.personal-info{
  padding: 0 40px 0 0;
}

.personal-info-head{
  position: relative;
}
.form-buy-logo{
  filter: invert(55%) sepia(6%) saturate(2254%) hue-rotate(356deg) brightness(99%) contrast(70%);
display: block;
}

.personal-info-title{
  text-transform: uppercase;
  color: #9D8665;
  font-size: 50px;
  line-height: 55px;
  font-family: Forum;
  font-style: Regular;
  font-weight: 400;
}
.personal-info-title{
  color: #9D8665;
  font-size: 50px;
  line-height: 55px;
  font-family: Forum;
  font-style: Regular;
  font-weight: 400;
}
.personal-info-span{
  display: block;
  padding: 15px 0 10px 0;
  color: #710707;
  font-size: 18px;
  line-height: 21px; 
}

.personal-info-span::after{
  position: absolute;
  content: '';
  height: 3px;
  background-color: #710707;
  width: 100%;
  bottom: 0;
  left: 0;
}
.inputs{
  padding: 60px 0 0 0;
}
 .date-time{
display: flex;
justify-content: space-between;
 }

 
.input-date,
.input-time{
width: 185px;
height: 45px;
border: 2px solid #030303;
}
.input-items{
  padding: 0 0 20px 0; 
}
.input-items:last-child{
  padding: 0;
}
.input-name,
.input-email,
.input-phone,
.select-tickets{
  width: 100%;
  height: 45px;
  font-family: roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  border-color: #030303;
}
.input-name::-moz-placeholder,
.input-email::-moz-placeholder,
.input-phone::-moz-placeholder{
  color: #030303;
  font-family: roboto;
  font-style: regular;
  font-size: 18px;
  line-height: 21px;
}
.input-name::-webkit-input-placeholder,
.input-email::-webkit-input-placeholder,
.input-phone::-webkit-input-placeholder{
  color: #030303;
  font-family: roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}
.input-name{
  background-image: url(assets/svg/name.svg);
  background-repeat: no-repeat;
  background-position: 15px 12px;
  background-size: 13px 15px;
  padding-left: 43px;
}

.input-email{
  background-image: url(assets/svg/email.svg);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-size: 15px 11px;
  padding-left: 43px;
}

.input-phone{
  background-image: url(assets/svg/tel.svg);
  background-repeat: no-repeat;
  background-position: 15px 8px;
  background-size: 14px 23px;
  padding-left: 43px;
}
.select-tickets{
  background-image: url(assets/svg/tickets.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
  background-size: 15px;
  padding-left: 43px;
  border: none;
  border: 2px solid #030303;
  position: relative;
}

.entry{
  border: 2px solid #030303;
  position: relative;
  padding: 10px 15px;
  margin: 20px 0 0 0;
}
.entry-title{
  color: #9D8665;
  font-family: Forum;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.entry-title::after{
  position: absolute;
  content: '';
  height: 2px;
  background-color: #710707;
  width: 92%;
  top: 33px;
  left: 15px;
}

.basic-tickets{
  padding: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.senior-tickets{
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.tickets-span{
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.tickets-buttons{
  border: 1px solid black;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tickets-button-items:hover{
  background-color:#615f5f;
  border-color: #615f5f;
}

.tickets-button-items{
background-color: #030303;
color: #ffffff;
border-color: #030303;
width: 40px;
height: 25px;

}

.tickets-number{
  border: none;
  width: 30px;
  height: 20px;
  align-items: center;
  margin: 0 0 0 15px;
}
.card-info{
  border: 1px solid black; 
  padding: 25px 30px;
  min-width: 530px;
  position: relative;
  
}

.card-info-top{
  display: flex;
  justify-content: space-between;
}

.card-info-title-top{
  padding: 0 0 2px 0;
  font-size: 32px;
  line-height: 38px;
}

.card-info-title-bottom{
  color: #740C11;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  padding: 0 0 10px 0;
}
.card-info-span{
  display: block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  padding: 0 0 5px 0;
  background-repeat: no-repeat;
  padding-left: 30px ;
  background-size: 15px 15px;
  
}
.card-info-span-top{
  background-image: url(assets/svg/date.svg);
}
.card-info-span-center{
  background-image: url(assets/svg/time.svg);
}
.card-info-span-bottom {
  background-image: url(assets/svg/Vector\ \(8\).svg);
}
.center-left-items{
display: block;
font-size: 22px;
line-height: 27px;
padding: 0 0 5px 0;
}

.card-info-center{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 4px 0 0 0;
  flex-wrap:wrap;
  margin: 0 0 21px 0;
}

.card-info-center::after{
  position: absolute;
  content: '';
  height: 2px;
  background-color: #740C11;
  width: 100%;
  bottom: -9px;
}
.center-left-items span{
  background-color: #030303;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 5px;
  margin: 0 10px 0 0;
}

.card-info-total{
  display: flex;
  justify-content: space-between;
}
.card-info-sapn{
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  
}
.card{
  width: 360px;
  height: 211px;
  background-color: #A4A4A3;
  padding: 15px 20px;
  position: relative;
  border-radius: 3px;
  z-index: 100;
  margin: 10px 0 0 0;
}
.card-number-span{
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  padding: 0 0 5px 0;
}

.card-number-input{
  display: block;
  height: 35px;
  width: 215px;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
}
.card::before{
  background-image: url(assets/svg/Mastercard.svg);
  content: "";
  position: absolute;
  height: 32px;
  width: 53px;
  top: 60px;
  right: 20px;
  background-repeat: no-repeat;
}
.card::after{
  background-image: url(assets/svg/Visa.svg);
  content: "";
  position: absolute;
  height: 16px;
  width: 55px;
  top: 34px;
  right: 20px;
  background-repeat: no-repeat;
}
.card-number-date{
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  height: 35px;
  width: 100px;
  padding: 0 0 0 10px;
  margin: 0 11px 10px 0;
}
.card-number-holder{
  height: 35px;
  width: 320px;
  padding: 0 0 0 10px;
  margin: 0 11px 0 0;
}

.card-backside{
  width: 360px;
  height: 211px;
  background-color: #939393;
  padding: 25px 0 0 0;
  position: absolute;
  border-radius: 3px;
  bottom: 85px;
  right: 30px;
  z-index: 1;
  
}
.card-backside::before{
  content: '';
  position: absolute;
  height: 45px;
  width: 100%;
  background-color: #030303;
}
.card-cvv-wrap{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: flex-end;
  padding: 65px 20px 0 0;
}
.card-cvv-span{
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  padding: 0 12px 5px 0;
}

.card-cvv-input{
  display: block;
  width: 75px;
  height: 35px;
}

.card-cvv-info{
  display: block;
  width: 65px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-align: left;
  padding: 5px 0 0 0;
}
.card-button-wrap{
  text-align: right;
  padding: 56px 0px 0px 0px;
}
.card-button{
  background-color: #710707;
  color: #ffffff;
  height: 45px;
  width: 220px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
/******************************************************
********************parallax*************************/
.parallax {
  padding: 0;
  margin: 0;
  background: url(assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}
/******************************************************
********************contacts**************************/
.container-contacts {
  padding: 75px 0;
}
.title-contacts {
  position: relative;
  padding: 0 0 25px 0;
}
.title-contacts::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}
.content-contacts {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 0 0;
}
.content-contacts-title {
  font-size: 28px;
  line-height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  padding: 0 0 50px 0;
}
.content-contacts-wrap {
  max-width: 282px;
}
.content-contacts-text {
  font-size: 22px;
  line-height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  padding: 0 0 25px 0;
}
/******************************************************
*******************footer*****************************/
.footer {
  background-color: #030303;
}
.container-footer {
}
.footer-top {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  height: 265px;
  padding: 75px 0 50px 0;
  
}

.footer-span {
  padding: 0 0 0 25px;
  color: #ffffff;
  font-size: 28px;
  line-height: 31px;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.footer-nav-left-items,
.footer-nav-right-items {
  padding: 0 0 25px 0;
}
.footer-nav-left-link,
.footer-nav-right-link {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
}
.footer-social {
  grid-column: 5;
  align-self: flex-end;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
}
.footer-bottom{
  border-top: 3px solid #666666;
  
}
.footer-bottom-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 124px;
}
.footer-bottom-items{
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  font-family: Roboto;
  font-style: Thin;
  font-weight: 200;
  letter-spacing: 2px;
}

.tour{
  width: 100%;
  height: 100%;
}
